#licenses_SRO h2 {
  margin-bottom: 0;
}

#slick_slider {
  padding: 0;
  margin: 0 70px 90px;
}

#slick_slider .slider_box {
  min-height: 340px;
}

#slick_slider .slider_box .slider {
  padding-top: 40px;
  position: relative;
}

#slick_slider .slider_box .slider .prev,
#slick_slider .slider_box .slider .next {
  position: absolute;
  height: 30px;
  width: 15px;
  z-index: 1;
  cursor: pointer;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

#slick_slider .slider_box .slider .prev {
  left: -30px;
}

#slick_slider .slider_box .slider .next {
  right: -30px;
}

#slick_slider .slider_box .slider img {
  margin: 18px auto;
  max-height: 340px;
  max-width: 240px;
}

#slick_slider .slider_box .slider .slick-dots {
  bottom: -78px;
}

#slick_slider .slider_box .slider .slick-dots li {
  margin: 0;
  padding: 0;
}

#slick_slider .slider_box .slider .slick-dots li button {
  margin: 0;
  padding: 0;
  background: none;
  border: 1px solid #B3B4B5;
  border-radius: 50%;
  height: 10px;
  width: 10px;
}

#slick_slider .slider_box .slider .slick-dots li button:before {
  content: '';
  opacity: 1;
  height: 10px;
  width: 10px;
  background: none;
  border-radius: 50%;
}

#slick_slider .slider_box .slider .slick-dots .slick-active button:before {
  background: #B3B4B5;
}

@media screen and (max-width: 768px) {
  #slick_slider {
    padding-left: 90px;
    padding-right: 90px;
  }
}

@media screen and (max-width: 576px) {
  #slick_slider .slider_box .slider .prev,
  #slick_slider .slider_box .slider .next {
    display: none;
  }

  #slick_slider {
    padding-left: 5px;
    padding-right: 5px;
    margin: 0 0 90px;
  }
}